# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode settings
.vscode/

# Your ONNX models
models/

# Your test folder with sample CR3 files
test_images/
logs/
# Integration test workspace (always regenerated)
_test_workspace/

*.egg-info/
